<div>
    <nav class="bg-blue-700 p-3 shadow-lg">
      <div class="max-w-7xl mx-auto flex justify-between items-center">
        <a routerLink="/" class="text-white text-3xl font-bold hover:text-red-500">Book Management System</a>
        <div class="space-x-4">
          <a routerLink="/login" class="text-white hover:text-red-500 text-xl font-bold">Login</a>
          <a routerLink="/signup" class="text-white hover:text-red-500 text-xl font-bold">SignUp</a>
        </div>
      </div>
     </nav>
</div>

