<app-navbar></app-navbar>
<div class="mt-4 w-full">
    <h1 class="text-3xl mb-2 font-bold text-center text-gray-800">Book Details</h1>
    <div id="searchbox" class="mt-8 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
        <input [(ngModel)]="searchValue" type="text" id="search" placeholder="search by title" class="w-full p-2 border border-gray-300 rounded-md"/>
        <button (click)="searchAndFilterBooks()" id="searchButton" class="w-full sm:w-auto bg-indigo-500 text-white rounded-md py-2 px-4 hover:bg-indigo-900 font-medium">Search</button>
        <button (click)="clearBook()" id="clearButton" class="w-full sm:w-auto bg-indigo-500 text-white rounded-md py-2 px-4 hover:bg-indigo-900 font-medium">Clear</button>

    <select [(ngModel)]="sortSelect" (change)="sortByTitle()" name="sort" id="sort" class="w-full sm:w-auto text-md font-bold bg-blue-800 text-white border border-gray-300 rounded-md">
        <option value="" disabled selected>Sort By Title</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    </div>
    <div class="mt-4 overflow-x-auto">
        <table id="bookTable" class="overflow-scroll w-full bg-white shadow-md border-separate">
            <thead class="bg-indigo-400 text-white rounded-xl">
                <tr class="rounded-xl">
                    <th class="px-4 text-lg py-2">Title</th>
                    <th class="px-4 text-lg py-2">Author</th>
                    <th class="px-4 text-lg py-2">ISBN</th>
                    <th class="px-4 text-lg py-2">Publication Date</th>
                    <th class="px-4 text-lg py-2">Book Age</th>
                    <th class="px-4 text-lg py-2">Book Price</th>
                    <th class="px-4 text-lg py-2">
                        <select [(ngModel)]="selectedGenre" (change)="searchAndFilterBooks()" name="genre" id="genreFilter" class="w-full text-sm text-black border border-gray-300 rounded-md">
                            <option value="" disabled selected>Select Genre</option>
                            <option *ngFor="let genre of genresList" [value]="genre.genre">{{ genre.genre }}</option>
                        </select>
                    </th>
                    <th class="px-4 text-lg py-2">Actions</th>
                </tr>
            </thead>
            <tbody class="border-separate">
                <tr *ngFor="let book of books$ | async;let i=index" class="border border-black" >
                    <td class="border border-black">{{ book.title }}</td>
                    <td class="border border-black">{{ book.author }}</td>
                    <td class="border border-black">{{ book.isbn }}</td>
                    <td class="border border-black">{{ book.publication_date }}</td>
                    <td class="border border-black">{{ calculateAge(book.publication_date) }}</td>
                    <td class="border border-black font-medium" [innerHTML]="discountCalculation(book.price)"></td>
                    <td class="border border-black">{{ book.genre }}</td>
                    <td class="border border-black">
                        <button (click)="editBook(book,i)"
                          class="border p-1 text-white bg-green-700 hover:bg-green-300 hover:text-black">Edit</button>
                        <button (click)="deleteBook(book)"
                          class="border p-1 text-white bg-red-700 hover:bg-red-300 hover:text-black">Delete</button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
